/* Applying CSS on Mohlala Workshop Website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Applying CSS on the home page*/
body {
        /*Appliying the font and background colour of the body*/
    font-family:  Arial,  Helvetica, sans-serif;
    background-color: lch(95.69% 35.01 135.27);
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

            
header {
    background-color: rgb(128, 94, 0);
    color:hsl(0, 0%, 100%);
    padding:  auto;
    text-align: left;
}

header h2 {
    font-size: 26px;
    letter-spacing: 1px;
    color:  rgb(188, 255, 5); 
}

header h4{
    margin-top: 15px;
    font-weight: normal;
    color: hsl(0, 0%, 88%);
}

            /*Styling The Manu*/
header a {
    display: inline-block;
    text-decoration: none;
    background-color: hsl(45, 100%, 51%);
    color: hsl(217, 66%, 12%);
    padding: auto; 
    margin: 10px;
    border-radius: 7px;
    font-weight: bold;
}

        /*Applying Style using on the Enquries page*/
body {
    font-family: monospace Arial, sans-serif ;
    background-color: rgb(242, 242, 242);
    margin:0;
    padding:0;
}

header {
    background-color: hsl(0, 67%, 12%);
    color: hsl(66, 100%, 51%);
    text-align: center;
    padding: 21px;
}

main {
    background-color: rgb(255, 255, 255);
    padding:21px;
    margin:22px;
    border-radius: 10px;
}

main a {
    
    color: hsl(242, 66%, 12%);
    background-color: rgb(147, 255, 7);
    padding: auto;
    border-radius: 7px;
    font-weight: bold;
}



h2 {
    color: grey;
}

iframe {
    width: 100%;
    height: 301px;
    border:  3px solid black;
    border-radius: 9px;
}

footer {
    background-color: rgb(49, 10, 31);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 17px;
    margin-top: 22px;
}

footer button {
    background-color: rgb(255, 77, 7);
   padding:  21px;
    border-radius: 7px;
    font-weight: bold;
    
}


/*Styling the Contact page*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(0, 0%, 96%);
    margin: 0;
}

main {
    background: blue;
    margin: 22px;
    padding: 22px;
    border-radius: 8px;
}

h1 {
    color: #000000;
    text-align: center;
}

/* Adding a box */
.contact-box h3 {
    background: hsl(0, 36%, 95%);
    padding: 13px;
    border-left: 6px solid #ff9307;
    border-radius: 6px;
    align-items: center;
    gap: 11px;
    margin: 10px 0;
}

img {
    border-radius: 50%;
}

footer {
    background: #310a2c;
    text-align: center;
    padding: 2px;
}

footer button {
    background: red;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 7px;
    
}

            /*Styling the services page*/
body {
    font-family:Arial, Helvetica, sans-serif
    
}

header, main, footer {
    background-color: rgb(255, 255, 255);
    margin: 16px;
    padding: 22px;
    border-radius: 9px;
}

header {
    background-color: hsl(118, 66%, 12%);
    color: hsl(91, 100%, 51%);
    text-align: center;
}

a {
   
    background-color: hsl(125, 100%, 51%);
    color: #0a3124;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 6px;
    font-weight: bold;
}


h1, h2, h3, h4 {
    color: hsl(217, 66%, 12%);
}

iframe {
    width: 100%;
    height: 300px;
    border: 2px solid rgb(10, 49, 29);
}

button {
    background-color: #ff0707;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
   
}

footer {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    text-align: center;
}


/*Adding style to "About us" page*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(0, 0%, 96%);
    margin: 0;
    padding: 20px;
}

main {
    background: grey;
    padding: 21px;
    border-radius: 9px;
}

/* ALL pre tags get a border */
pre {

    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: lightblue;
}



img {
    border: 2px solid hsl(0, 0%, 80%);
    margin: 5px;
}

footer {
    background: #0a3119;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 12px;
}

footer button {
    background: red;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
}